body {
  background-image: url(../images/fondo.png) !important;
  background-repeat: repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  margin: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

.navbar {
  background-color: white;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-brand img {
  border-radius: 50%;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 15px 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.div-redes {
  text-align: center;
  margin-bottom: 50px;
}

.div-redes a {
  margin: 10px;
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: transform 0.2s;
}

.div-redes a:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .formulario {
    padding: 20px;
  }

  .navbar-brand img {
    width: 60px;
    height: 60px;
  }
}

.titulos {
  text-align: center;
  color: white;
}

p {
  text-align: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.formulario {
  width: 300px;
  margin: 0 auto;
}

.div-contact {
  width: 300px;
  height: 100px;
  margin: auto;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  /*  box-shadow: 0 0 10px #ccc; */
}

.div-redes {
  margin: auto;
  text-align: center;
  color: white;
  /* background-color: white; */
}

/* facebook */
.label-redes {
  display: inline-block;
  margin-right: 15px;
}